# frozen_string_literal: true

desc "Run ESLint"
task :eslint do
  sh "<%= js_package_manager %> run lint:js"
end

namespace :eslint do
  desc "Autocorrect ESLint offenses"
  task :autocorrect do
    sh "<%= js_package_manager %> run fix:js"
  end
end
